#content{
	width: 960px;
	height: auto;
	margin:auto;
}
#all{
	width: 960px;
	height: 600px;
}
#pi{
	margin-top: 100px;
	margin-left: 200px;
	width:250px;
	height: 200px;
	float: left;
}
#bi{
	margin-left: 150px;
	margin-top: 100px;
	width: 250px;
	height: 200px;
	float: left;
}
#pi img{
	margin-right: 50px;
}
#neirong{
	width: 960px;
	height: 200px;
	margin:auto;

}
#all1{
	float: left;
	margin-left:20%;

}
#all2{
	float: left;
	margin-left:10%;
}
#bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("http://image.10mup.com/about.png");
	background-repeat: repeat-x;
}
#bottom{
	line-height: 55px;
}